<div class="thumbnail">
	<% if character %>
	<%= image_tag(character.avatar_url) if character.avatar_url %>
	<div class="caption">
		<h3 style="color: <%= character.faction.color %>"><%= character %></h3>
		<p>
		    <%= link_to t('character_sheet'), topic_path(character.topic) %><br />
		    <%= link_to t('character_links'), topic_path(character.links_topic) %><br />
		    <%= link_to t('character_rps'), topic_path(character.rps_topic) %><br />
		    Messages: <%= character.number_of_messages %>
		</p>
	</div>
	<% else %>
	<div class="caption">
		<h3 style="color: grey"><%=t t('.deleted_character') %></h3>
	</div>
	<% end %>
</div>