<%- model_class = Topic -%>
<div id="container-topic" class="container-topic intro-effect-fadeout">

	<!--div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/SamsungGrid/"><span>Previous Demo</span></a>
		<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19119"><span>Back to the Codrops Article</span></a></span>
	</div-->
	<header class="header">
		<% if @category_role %>
			<div class="bg-img"><%= image_tag @character.image_url %></div>
			<div class="title">
				<!--nav class="codrops-demos">
					<a href="index.html">Push</a>
					<a class="current-demo" href="index2.html">Fade Out</a>
				</nav-->
				<h1>
				<%= @character.complete_name %>
				<% if @character.nickname %><br>
				<small><%t 'known_as'%> <%= @character.nickname %></small>
				<% end %>
                <% if @character.npc %>
                <small class="npc-<%= @character.npc_status %>"><%=t @character.npc_status %></small>
                <% end %>
				</h1>
				<% unless @character.shortline1.blank? or @character.shortline1.length > 200 %>
			<p class="subline"><%= @character.shortline1 %></p>
				<% end %>
				<% unless @character.quote.blank? or @character.quote.length > 800 %>
				<p><%= @character.quote %></p>
				<% end %>
			</div>
		<% else %>
			<div class="bg-img"><%= image_tag @topic.image_url %></div>
			<div class="title">
				<!--nav class="codrops-demos">
					<a href="index.html">Push</a>
					<a class="current-demo" href="index2.html">Fade Out</a>
				</nav-->
				<h1>
					<%= @topic.title %><br>
					<small><%= @topic.subtitle %></small>
                </h1>
				<p class="subline"><%= @topic.summary %></p>
				<% unless @topic.weather.blank? %>
				<p><%= model_class.human_attribute_name(:weather) %> : <%= @topic.weather %></p>
				<% end %>
			</div>
		<% end %>
	</header>
	<button class="trigger" data-info="Voir les posts"><span>Posts</span></button>
	<article class="content">
		<div>
			<% unless not @category_role and @answers.empty? %>
			<div>
				<% if @category %>
					<%= render partial: 'categories/breadcrumb', locals: {last_active: true} %>
				<% end %>
				<%= render partial: 'bottom_links', locals: {with_mod: true} %>
			</div>
			<br /><br /><br />
			<% end %>
			<% if @category_role == :character %>
				<div class="row">
					<div class="col-md-6">
						<%=l @character.created_at %>
					</div><div class="col-md-6" style="text-align: right">
						<% if can? :manage, @character %>
						<%= link_to t('.edit_character', :default => t("helpers.links.edit")),
									  edit_user_character_path(@character, user_id: current_user), :class => 'btn btn-default btn-xs' %> 
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= render partial: 'profile', locals: {character: @character, user: nil} %>
					</div>
					<div class="col-md-9">
					<% unless @character.summary.blank? %>
					<h1><%= Character.human_attribute_name(:summary) %></h1>
					<p style="text-align: justify">
						<%= sanitize @character.summary.gsub(/\n/,"<br/>"), 
							:tags => %w(table tr td br b i span p blockquote img div h1 h2 h3 h4 h5 h6) %>
					</p>
					<% end %>
					<% unless @character.story.blank? %>
					<h1><%= Character.human_attribute_name(:story) %></h1>
					<p style="text-align: justify">
						<%= sanitize @character.story.gsub(/\n/,"<br/>"), 
							:tags => %w(table tr td br b i span p blockquote img div h1 h2 h3 h4 h5 h6) %>
					</p>
					<% end %>
					<% unless @character.appearance.blank? %>
					<h1><%= Character.human_attribute_name(:appearance) %></h1>
					<p style="text-align: justify">
						<%= sanitize @character.appearance.gsub(/\n/,"<br/>"), 
							:tags => %w(table tr td br b i span p blockquote img div h1 h2 h3 h4 h5 h6) %>
					</p>
					<% end %>
					<% unless @character.psychology.blank? %>
					<h1><%= Character.human_attribute_name(:psychology) %></h1>
					<p style="text-align: justify">
						<%= sanitize @character.psychology.gsub(/\n/,"<br/>"), 
							:tags => %w(table tr td br b i span p blockquote img div h1 h2 h3 h4 h5 h6) %>
					</p>
					<% end %>
					</div>
				</div>
				<hr />
			<% elsif @category.special_role == :links %>
				<div class="row">
					<div class="col-md-6">
						<%=l @character.created_at %>
					</div><div class="col-md-6" style="text-align: right">
						<% if user_signed_in? %>
						<%= link_to t('.edit_links', :default => t("helpers.links.edit")),
									  graph_links_path, :class => 'btn btn-default btn-xs' %> 
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= render partial: 'profile', locals: {character: @character, user: nil} %>
					</div>
					<div class="col-md-9">
						<table class="character-links">
						  <% @links.order('force DESC').each do |l| %> <!--# Sorted by force, desc-->
							<% other = if l.to_character_id == @character.id then l.from_character else l.to_character end %>
							<tr>
							  <td>
								<%= image_tag other.small_image_url, class: "graph-avatar-link" %>
							  </td>
							  <td>
								<div class="text-center">
								  <h4>
									<%= link_to other.name, other.links_topic, style: "color: " + other.faction.color %>
									<br />
									<small style="color: <%= l.link_nature.color %>"><%= l.link_nature.name %></small>
								  </h4>
								</div>
								
								<% if !l.title.blank? %>
								  <h3><%= l.title %></h3>
								<% end %>
								<% if !l.description.blank? %>
								  <p><%= l.description %></p>
								<% end %>
							  </td>
							</tr>
						  <% end %>
						</table>
					</div>
				</div>
				<hr />
			<% elsif @category.special_role == :rps %>
				<div class="row">
					<div class="col-md-6">
						<%=l @character.created_at %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= render partial: 'profile', locals: {character: @character} %>
					</div>
					<div class="col-md-9">
						<h1><%=t '.his_rps', character: @character %></h1>
						<% RpStatus.all.each do |rp_status| %>
							<% rp_topics = Topic.filter_status(@rp_topics, rp_status) %>
							<% if rp_topics.length > 0 %>
								<h2 style="color: <%= rp_status.color %>"><%= rp_status.description %></h2>
								<% rp_topics.each do |topic| %>
									<%= render partial: 'rp_summary', locals: {topic: topic, character: @character} %>
								<% end %>
							<% end %>
						<% end %>
						<h1><%=t '.opened_rps', user: @character.user.pseudo %></h1>
						<% @user_rp_topics.each do |topic| %>
							<%= render partial: 'rp_summary', locals: {topic: topic, character: @character} %>
						<% end %>
					</div>
				</div>
				<hr />
			<% end %>
			<% @answers.each do |answer| %>
				<div class="row">
					<div class="col-md-6">
						<%=l answer.created_at %>
					</div>
					<div class="col-md-6" style="text-align: right">
						<% if can? :manage, answer %>
						<%= link_to t('.edit_answer', :default => t("helpers.links.edit")),
									  edit_answer_path(answer), :class => 'btn btn-default btn-xs' %>
						<%= link_to t('.destroy_answer', :default => t("helpers.links.destroy")),
									  answer_path(answer),
									  :method => 'delete',
									  :data => { :confirm => t('.confirm_answer', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
									  :class => 'btn btn-danger btn-xs' %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= render partial: 'profile', locals: {character: answer.character, user: answer.user} %>
					</div>
					<div class="col-md-9">
						<% unless answer.title.blank? %>
						<h1><%= answer.title %></h1>
						<% end %>
						<% unless answer.content.blank? %>
						<span style="text-align: justify">
							<%= sanitize answer.content.gsub(/\n/,"<br/>"), 
							:tags => %w(table tr td br b i span p blockquote img div) %>
						</span>
						<% end %>
					</div>
				</div>
				<hr />
			<% end %>
		</div>
	</article>
	<section class="related">
		<%= render partial: 'bottom_links', locals: {with_mod: (not @category_role and @answers.empty?)} %>
		<% if @category %>
		<br /><br />
		<%= render partial: 'categories/breadcrumb', locals: {last_active: true} %>
		<% end %>
	</section>
</div>