<%- model_class = SpacetimePosition -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @spacetime_position.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @spacetime_position.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @spacetime_position.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subtitle) %>:</strong></dt>
  <dd><%= @spacetime_position.subtitle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resume) %>:</strong></dt>
  <dd><%= @spacetime_position.resume %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weather) %>:</strong></dt>
  <dd><%= @spacetime_position.weather %></dd>
  <dt><strong><%= model_class.human_attribute_name(:begin_at) %>:</strong></dt>
  <dd><%= @spacetime_position.begin_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @spacetime_position.end_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:topic_id) %>:</strong></dt>
  <dd><%= @spacetime_position.topic_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              spacetime_positions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_spacetime_position_path(@spacetime_position), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              spacetime_position_path(@spacetime_position),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
