<%- model_class = LinkNature -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @link_nature.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @link_nature.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @link_nature.color %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              link_natures_path, :class => 'btn btn-default'  %>
<% if can? :manage, @link_nature %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_link_nature_path(@link_nature), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              link_nature_path(@link_nature),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>