<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:from_character_id) %>:</strong></dt>
  <dd><%= @link.from_character_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_character_id) %>:</strong></dt>
  <dd><%= @link.to_character_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @link.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @link.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:force) %>:</strong></dt>
  <dd><%= @link.force %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link_nature_id) %>:</strong></dt>
  <dd><%= @link.link_nature_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              links_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_link_path(@link), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              link_path(@link),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
