<% la = topic.last_answer %>
<% if la and c = la.character %>
    <table><tr>
        <td>
            <%= image_tag c.small_image_url, class: "mini-avatar float-left" unless c.small_image_url.blank? %>
        </td>
        <td>
            &nbsp;
            &nbsp;
        </td>
        <td>
            <%=t('last_answer')%>: <br>
            <% if title %>
            <%= link_to title.title, title %><br>
            <% end %>
            <%=time_ago topic.last_answered_at %> <br>
            <%=t 'by'%>
            <span style="color: <%= c.faction.color %>"><%= c.name %></span>
        </td>
    </tr></table>
<% elsif la and u = la.user %>
    <%=t('last_answer')%>: 
    <% if title %>
    <%= link_to title.title, title %> : 
    <% end %>
    <%=time_ago topic.last_answered_at %>
    <%=t 'by'%>
    <%= u.pseudo %>
<% else %>
    <%=t('last_answer')%>:
    <% if title %>
    <%= link_to title.title, title %> : 
    <% end %>
    <%=time_ago topic.last_answered_at %>
    <%=t 'by'%>
    <%= topic.user.pseudo %>
<% end %>