<ol class="breadcrumb">
    <% if @mod %>
        <li><%= t('Forum') %></li>
        <% @category.supcategories.each do |cat| %>
            <li><%= cat.title %></li>
        <% end %>
    <% else %>
        <li><%= link_to t('Forum'), categories_path %></li>
        <% first_cat = @category.supcategories.first %>
        <% if first_cat %>
        <li><%= first_cat.title %></li>
        <% end %>
        <% supcats = @category.supcategories[1..-1] || [] %>
        <% supcats.each do |cat| %>
            <li><%= link_to cat.title, category_path(cat) %></li>
        <% end %>
    <% end %>
    <li class="active"><%= @category.title %></li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <%= image_tag @category.image_url, class:"thumbnail", style: "width: 100%; max-width: 500px;" %>
        </div>
        <div class="col-sm-8 col-md-9">
            <h1><%= @category.title %><br>
            <small><%= @category.description %></small></h1>
        </div>
    </div>
</div>

<% unless @mod %>
<%= render :partial => 'mosaic', locals: {categories: @categories} %>
<% end %>

<% if @mod %>

    <div class="list-group">
    <% @category.categories.each do |subcategory| %>
        <%= link_to subcategory.title, category_path(subcategory, mod: true), class: "list-group-item" %>
    <% end %>
        <%= link_to "Nouvelle sous-catégorie",
                new_category_path(category_id: @category.id),
                :class => 'list-group-item list-group-item-info' %>
    </div>

    <%= link_to t('.back', :default => t("helpers.links.back")),
                categories_path(mod: true), :class => 'btn btn-default'  %>
    
    <% if can? :update, @category %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_category_path(@category), :class => 'btn btn-default' %>
    <% end %>
    <% if can? :destroy, @category %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  category_path(@category),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    <% end %>
<% else %>
    <div class="page-header">
      <h1><%= Topic.model_name.human.pluralize.titleize %></h1>
    </div>
    <% @topics.each do |topic| %>
        <%= render partial: 'topics/show_line', locals: {topic: topic} %>
    <% end %>
    <% @special_topics.each do |topic| %>
        <%= render partial: 'topics/show_line', locals: {topic: topic} %>
    <% end %>
    <% if user_signed_in? %>
        <% unless @category.special_role %>
            <%= link_to t('new_topic'),
                    new_topic_path(category_id: @category),
                    :class => 'btn btn-primary' %>
        <% end %>
        <% if @category.special_role == :character %>
            <%= link_to t('new_topic'),
                    new_user_character_path(current_user),
                    :class => 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>